@font-face {
  font-family: 'iconfont';  /* Project id 2505816 */
  src: url('//at.alicdn.com/t/font_2505816_jm8unulnvyh.woff2?t=1620475754910') format('woff2'),
       url('//at.alicdn.com/t/font_2505816_jm8unulnvyh.woff?t=1620475754910') format('woff'),
       url('//at.alicdn.com/t/font_2505816_jm8unulnvyh.ttf?t=1620475754910') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }